<div class="body">
  <div class="wrapper">
    <app-header headerText="Sign in to TaskManager"></app-header>
    <div class="container">
      <div class="username_and_password_part">
        <label>Username or E-mail</label>
        <input [(ngModel)]="user.usernameOrEmail" />
        <div class="password">
          <label>Password</label>
          <label routerLink="forgot-password" >Forgot password?</label>
        </div>
        <input [(ngModel)]="user.password"  />
        <button mat-raised-button routerLink="" (click)="signIn()">
          Sign In
        </button>

      </div>
    </div>
      <div class="footer">
        <label>Need help?</label>
        <label>Contact TaskManager</label>
      </div>
  </div>
</div>
