<div class="paylas-container">
  <div class="wrapper">
    <div class="topside">
      <h1>Send E-Mail</h1>
    </div>

    <br />

    <div class="input-group">
      <mat-form-field class="input-container">
        <mat-label>Users</mat-label>
        <mat-select
          [formControl]="userList"
          multiple
          (selectionChange)="logit($event)"
        >
          <mat-option *ngFor="let user of users" [value]="user">{{
            user.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-group">
      <textarea
        id="message"
        [(ngModel)]="message"
        placeholder="{{ 'messagePlaceholder' | transloco }}"
      ></textarea>
      <label for="message"></label>
    </div>
  </div>

  <br />
  <br />

  <button (click)="SendEmail()">{{ "shareButtonLabel" | transloco }}</button>
</div>
