<div class="body">
  <div class="navbar">
    <div class="project_info">
      <div class="labels">
        <label>Projects /</label>
      <label>Project Name /</label>
      <label>Project Settings</label>
      </div>
      
      <div class="admin_pages">
        <button mat-button routerLink="user-settings">User settings</button>
        <button mat-button>Task settings</button>

      </div>
    </div>
    <div class="details">
      <label>Details</label>
      <!-- <button mat-icon-button><mat-icon>more_vert</mat-icon></button> -->
    </div>
  </div>
  <div class="container">
    <div class="img_container">
      <img src="../../../assets/hosgeldiniz.png" />
    </div>
    <button mat-raised-button>Change icon</button>

    <div class="input_field">
      <label>Name</label>
      <input [(ngModel)]="currentProjectName" />
    </div>
    <div class="save_button">
      <button mat-raised-button (click)="saveProjectDetails()">Save</button>
      <button mat-raised-button (click)="deleteProject()">Delete</button>
    </div>
  </div>
</div>
