<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="User Setting">
    <app-user-setting></app-user-setting>
  </mat-tab>

  <mat-tab label="Task Setting">
    <app-task-setting-page></app-task-setting-page>
  </mat-tab>

  <mat-tab label="Project Detail">
    <div class="container">
    <div class="project-info">
      <div class="info-container">
        <div class="img_container">
          <img src="../../../assets/hosgeldiniz.png" />
        </div>
        <button mat-raised-button>{{'projectDetail.changeIcon' | transloco}}</button>
      </div>
      

      <div class="input_field">
        <label>{{'name' | transloco}}</label>
        <input [(ngModel)]="currentProjectName" />
      </div>
      <div class="save_button">
        <button mat-raised-button (click)="saveProjectDetails()">{{'save' | transloco}}</button>
        <button mat-raised-button (click)="deleteProject()">{{'delete' | transloco}}</button>
      </div>
    </div>




  </div>
  </mat-tab>
</mat-tab-group>