.body {
  padding: 40px;
  width: 100%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
  background-color: #091E420A;
}

.navbar {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project_info {
    width: 100%;
    display: flex;
    justify-content: center;

    .admin_pages {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        border-bottom: 3px solid gray;
        
        button {
            font-weight: 600;
        }

        button:hover {
            color: white;
            background-color: black;
            border-bottom: 2px solid white;
        }
    }
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        font-size: 28px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    
    button {
        margin-top: 20px;
    }
}

.img_container {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background-color: #04B2D9;
    img {
    width: 140px;
    height: 140px;
}
}

.input_field {
    width: 350px;
    height: 100px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    label {
        font-weight: 600;
    }

    input {
        background-color: hsla(0,0%,82%,.3);
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 4px;
        &:focus {
            border: 1px solid #54aeff;
          }
    }
}


.save_button {
    width: 350px;
    display: flex;
    justify-content: end;
    gap: 12px;
    button {
        color: white;
    }
    button:first-child {
        background-color: #0052CC;
    }

    button:last-child {
        background-color: #f44336;
    }

    
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}