<div class="paylas-container">
    <h2>Share in Slack</h2>

    <div class="input-group">
        <input type="text" id="name" [(ngModel)]="id" placeholder="{{ 'namePlaceholder' | transloco }}">
        <label for="name"></label>
    </div>
    <ul>
        <li *ngFor="let sharedItem of sharedData">{{ sharedItem }}</li>
      </ul>
      <div class="input-group">
        <textarea id="message" [(ngModel)]="message" placeholder="{{ 'messagePlaceholder' | transloco }}"></textarea>
        <label for="message"></label>
    </div>
    
    <button (click)="paylas()">{{ 'shareButtonLabel' | transloco }}</button>
    
    
</div>
