<mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav opened="true" mode="side">
        <mat-nav-list>

            <div class="icon">
                <a mat-list-item routerLink="/">Projects

                </a>
                <a mat-list-item routerLink="create-project"><mat-icon>add_circle_outline</mat-icon></a>
            </div>


            <mat-accordion>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            RECENT
                            <mat-icon>toggle</mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLink="/">(project name) Project</a>
                    <a mat-list-item> View all projects</a>
                </mat-expansion-panel>
            </mat-accordion>



        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <div>
            <ng-content></ng-content>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>