<div class="example-container" cdkDropListGroup>
  <div class="example-column" *ngFor="let column of columns">
    <div class="update_column">
      <div class="column_name">
     <h2>{{ column.name }}</h2>
      </div>
 
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="getColumnId(column.id);openEditDialog(column.name, column.id)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="getColumnId(column.id);DeleteColumn()">
          <mat-icon>delete_outline</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    
    <div
      
      cdkDropList
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="['example-list']"
      class="example-list"
      (cdkDropListDropped)="drop($event, column)"
      #droppedContainer
    >
      <div class="example-box" *ngFor="let task of column.tasks" cdkDrag>
        {{ task.name }}
      </div>
    </div>
  </div>
  
  <div class="just_container" *ngIf="currentProject.name != ''">
    <mat-drawer-container class="create_column_container">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="just">
          <h3>Name:</h3>
          <input [(ngModel)]="columnName"/>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

          <button mat-button (click)="drawer.toggle()">
            Back
          </button>
          <button mat-raised-button (click)="drawer.toggle();createColumn()" color="primary">
            Create
          </button>
        </div>
      </mat-drawer>
      <div class="button_container">
        <label>Add column</label>
        <button mat-mini-fab color="warn" (click)="drawer.toggle()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-drawer-container>
  </div>

</div>
