<div class="example-container" cdkDropListGroup>

  <div class="placeholder">

  </div>

  <div class="example-column" *ngFor="let column of columns; let i = index" [style]="{'--column-height': tallestColumnHeight}" #column>
    <div class="update_column">
      <div class="column_name">
        
          <h2 class="text-wrap" [style.backgroundColor]="columnColors[i]" [style.color]="'#000000'">{{ column.name }}</h2>
       
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <div class="the_edit_delete_menu">
        <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="getColumnId(column.id);openEditDialog(column.name, column.id)">
          <mat-icon>edit</mat-icon>
          <span>{{'edit' | transloco}}</span>
        </button>

        <button mat-menu-item [disabled]="isDeleteButtonDisabled(column.id)"
          (click)="getColumnId(column.id); OpenDeleteDialog(column.id, column.name)">
          <mat-icon>delete_outline</mat-icon>
          <span>{{ 'delete' | transloco }}</span>
        </button>


      </mat-menu>
      </div>
      
    </div>

    <div cdkDropList [cdkDropListData]="column.tasks" [cdkDropListConnectedTo]="['example-list']" class="example-list"
      (cdkDropListDropped)="drop($event, column)" #droppedContainer>

      <div class="example-box" *ngFor="let task of column.tasks" cdkDrag (click)="openTaskDialog(task.id)">
        {{ task.name }}
      </div>

    </div>

    <div class="addTask" [ngClass]="{'sticky-add-task': column.tasks.length >=7}">
      <button mat-raised-button [matMenuTriggerFor]="addTask" (click)="getColumnId(column.id)">
        Add Task
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #addTask="matMenu" class="addTaskMenu">
        <div class="input_container">
          <input #taskInput [(ngModel)]="taskObj.name" (click)="stopPropagation($event)" (keyup.enter)="CreateTask()">
        </div>
        <!--Auto focus lazım input'a -->
      </mat-menu>
    </div>

  </div>

  <div class="just_container" *ngIf="currentProject != null">
    <mat-drawer-container class="create_column_container">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="just">
          <h3>{{'name' | transloco}}:</h3>
          <input [(ngModel)]="columnName" (keyup.enter)="createColumn()"/>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

          <button mat-button (click)="drawer.toggle()">
            {{'back' | transloco}}
          </button>
          <button mat-raised-button (click)="drawer.toggle();createColumn()" color="primary">
            {{'create' | transloco}}
          </button>
        </div>
      </mat-drawer>
      <div class="button_container" *ngIf="tokenService.hasRole('Admin') || tokenService.hasRole('SuperAdmin')">
        <label>{{'addColumn' | transloco}}</label>
        <button mat-mini-fab (click)="drawer.toggle()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-drawer-container>
  </div>

</div>