.create_column_container {
  display: flex;

  width: 200px;
  height: 155px;
  // background-color: aqua;

  .button_container {
    // background: red;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    label {
      margin-bottom: 10px;
    }
  }

  .just {
    // background-color: aqua;
    border-radius: 6px;
    padding: 10px;
    width: 200px;
    max-width: 200px;
    height: 98%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;

    input {
      border: 1px solid gray;
    }
  }
}

.example-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: start;
  gap: 30px;
  overflow: auto;
  white-space: nowrap;
  position: relative;

  button {
    position: sticky;
    left: 0;
  }
}

.add_button {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  position: sticky;
  left: 0;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}

.example-list {
  border: solid 1px #ccc;
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  overflow-y: auto;
  white-space: nowrap;
  display: inline-block;
  white-space: normal; /* or other value depending on your needs */
  overflow-wrap: break-word; /* or overflow-wrap: normal; */
  
}

.example-column {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #05362d;
  background: #88b1a830;
  word-wrap: break-word;
  // max-width: 250px;


  .addTask.sticky-add-task {
    //Mantığı çözülmeli
    position: sticky;
    background-color: #88b1a8d5;
    width: 100%;
    bottom: 0;
    z-index: 1;
    padding: 10px;
  }

  .update_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    width: 250px;
    padding: 5px;

    .column_name {
      width: 100%;
      height: 100%;


      h2 {
        // width: 250px;
        height: 100%;
        padding: 5px;
        border-radius: 5px;
        background-color: #324028;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .update_column_input {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        input {
          border: 1px solid rgb(7, 71, 61);
        }
      }
    }
  }

  .addTask {

    button {
      width: 100%;
    }
  }
}

.addTaskMenu {
  input {
    border: 2px solid #2684FF;
    width: 100%;
    height: 36px;
    outline: none;
  }
}

.mat-mdc-menu-content {
  padding: 0;
}

.example-full-width {
  width: 100%;
  height: 100%;
}

.example-box {
  padding: 20px 10px;
  border-bottom: 1px solid #07472471;
  color: #942626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}