<div class="body">
  <div class="wrapper">
    <app-header headerText="Change your password"></app-header>
    <div class="container">
      <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
        <div class="username_and_password_part">
          <div class="inputs">
            <div class="new password">
              <label>{{ "new password" | transloco }}</label>
            </div>
            <input type="password" formControlName="newPassword" />
          </div>
          <div class="inputs">
            <div class="confirm password">
              <label>{{ "confirm password" | transloco }}</label>
            </div>
            <input type="password"  formControlName="confirmNewPassword" />
          </div>

          <div class="buttons">
            <button mat-raised-button color="primary" type="submit" id="btn1" >Save</button>
            <button id="btn2" routerLink="">{{ "logIn" | transloco }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="footer">
      <label>{{ "needHelp" | transloco }}</label>
      <label>{{ "contactTaskManager" | transloco }}</label>
    </div>
  </div>
</div>






















<!-- <div class="body">
  <div class="wrapper">
    <app-header headerText="Change your password"></app-header>
    <div class="container">
      <div class="username_and_password_part">
        <div class="inputs">
          <div class="new password">
            <label >{{ "new password" | transloco }}</label>
          </div>
          <input [(ngModel)]="newPassword" />
        </div>
        <div class="inputs">
          <div class="confirm password">
            <label>{{ "confirm password" | transloco }}</label>
          </div>
          <input />
        </div>

        <div class="buttons">
          <button id="btn1">Save</button>
          <button id="btn2" routerLink="">{{ "logIn" | transloco }}</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <label>{{ "needHelp" | transloco }}</label>
      <label>{{ "contactTaskManager" | transloco }}</label>
    </div>
  </div>
</div> -->
