<div class="body">
  <div class="wrapper">
    <app-header headerText="Change your password"></app-header>
    <div class="container">
      <div class="username_and_password_part">
        <div class="password">
          <label>{{'password' | transloco}}</label>
        </div>
        <input />
        <div class="buttons">
          <button id="btn1">Save</button>
          <button id="btn2" routerLink="login">{{'logIn' | transloco}}</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <label>{{'needHelp' | transloco}}</label>
      <label>{{'contactTaskManager' | transloco}}</label>
    </div>
  </div>
</div>
