<div class="body">
  <div class="wrapper">
    <app-header headerText="Create your account"></app-header>
    <div class="container">
      <div class="username_and_password_part">
        <label>Username</label>
        <input />
        <div class="password">
          <label>Password</label>
        </div>
        <input />
        <div class="buttons">
          <button id="btn1">Save</button>
          <button id="btn2" routerLink="login">Log in</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <label>Need help?</label>
      <label>Contact TaskManager</label>
    </div>
  </div>
</div>
