<div class="container">
  <div class="topbar">
    <img [src]="url" />
    <label>{{ tokenService.tokenFullName() }}</label>
  </div>
  <div class="main">
    <div class="buttons">
      <button mat-button routerLink="admin-projects" routerLinkActive="active">
        Projects
      </button>
      <button mat-button routerLink="admin-tasks" routerLinkActive="active">
        Tasks
      </button>
      <button mat-button routerLink="admin-users" routerLinkActive="active">
        Users
      </button>
    </div>
    <button mat-raised-button (click)="navigateToHome()">Back to home</button>
  </div>
</div>
