<div class="container">
  <div class="topbar">
    <img src="../../../../assets/kullanıcı.png" />
    <label>{{tokenService.tokenFullName()}}</label>
  </div>
  <div class="main">
    <div class="buttons">
      <button mat-button routerLink="admin-projects">Projects</button>
      <button mat-button routerLink="admin-tasks">Tasks</button>
      <button mat-button routerLink="admin-users">Users</button>
    </div>  <button mat-raised-button (click)="navigateToHome()">Back to home</button>
    <!-- <button mat-raised-button (click)="navigateToHome()">Back to home</button> -->
  </div>
</div>
