<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <!-- <img src="../../../assets/" alt="" style="width: 50px;">.. -->
      <a href="" class="navbar-brand">
        <span class="sedna">Task</span>
        <span class="cloud">Manager</span>
      </a>
    </div>

    <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-light"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ "navigation.yourWork" | transloco }}</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-light"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ "projects" | transloco }}</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li> -->


    <style>
      .user-section {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    </style>

    <form class="d-flex">
      <div class="user-section">
        <button class="btn btn-light" [disabled]="!tokenService.hasRole('Admin')" type="button" data-bs-toggle="dropdown" aria-expanded="false"
           (click)="openCreateIssueDialog()">
          {{ "create" | transloco }}
        </button>
        <button class="mx-2 fa-lg language" [matMenuTriggerFor]="changeLang" mat-button>
          <img src="../../../assets/languages.png">

          <!-- {{'languages.changeLanguages' | transloco}} -->
        </button>
        <div class="user_profile" style="
            width: fit-content;
            height: fit-content;
            border-radius: 50%;
            
          ">

          <img src="../../assets/user (4).png" alt="" style="width: 30px" />
        </div>

        <div class="dropdown">
          <!-- <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{tokenService.tokenUsername()}}
          </button> -->
          <div *ngIf="hasToken()" class="menu">
            <button mat-button [matMenuTriggerFor]="menu">

              {{ tokenService.tokenUsername() | titlecase}}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  *ngIf="tokenService.hasRole('Admin')" (click)="routerToAdminPage()">
                Admin Page <mat-icon>face</mat-icon>
              </button>
              <button mat-menu-item (click)="logOut()">
                {{ "logOut" | transloco }} <mat-icon>exit_to_app</mat-icon>
              </button>

              <!-- <button mat-menu-item [routerLink]="'/profile'">Profile <mat-icon>how_to_reg</mat-icon></button> -->
            </mat-menu>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>

<mat-menu #changeLang>
  <button mat-menu-item (click)="changeLanguage('tr')">
    {{ "languages.tr" | transloco }}
  </button>
  <button mat-menu-item (click)="changeLanguage('en')">
    {{ "languages.en" | transloco }}
  </button>
</mat-menu>