// SCSS dosyası
.navbar {
  background-color: gray;
}
.navbar-brand {
  padding: 12px;
  font-size: 28px;
    .sedna {
      font-weight: normal;
    }
    .cloud {
      font-weight: bold;
    }
  }
  