<div class="body">
    <app-navbar></app-navbar>
    <div class="container">
      <h1>Edit Profile</h1>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>About You</mat-card-title>
            </mat-card-header>

            <!-- Profile Photo -->
            <div class="row">
             <div class="card-content d-flex justify-content-center align-items-center">
                <img class ="img" type="image" [src]='url || noImage'>
                <input hidden type="file" id="file" [disabled]="working" (change)="onSelectFile($event)">
                <label for="file">{{ uploadFileLabel }}</label>
            </div> 
            </div>
            

            <!-- Name -->
            <mat-card-content class="card-content row">
              <h4 class="col-3 ">Name</h4>
              <mat-form-field class="col-9">
                <input matInput [(ngModel)]="user.name" value="" disabled>
              </mat-form-field>
            </mat-card-content>

            <!-- Surname -->
            <mat-card-content class="card-content row">
              <h4 class="col-3 ">Surname</h4>
              <mat-form-field class="col-9">
                <input matInput [(ngModel)]="user.surname"  value="" disabled>
              </mat-form-field>
            </mat-card-content>

            <!-- Email -->
            <mat-card-content class="card-content row">
              <h4 class="col-3 ">Email</h4>
              <mat-form-field class="col-9">
                <input type="email" matInput disabled [(ngModel)]="user.email" 
           placeholder="Ex. pat@example.com">
              </mat-form-field>
            </mat-card-content>

            <!-- Password  *old password comes there* -->
            <!-- <mat-card-content class="card-content row">
              <h4 class="col-3 ">Password</h4>
              <mat-form-field class="col-9">
                <input matInput value="" type="password" [(ngModel)] = "oldPassword" >
              </mat-form-field>
            </mat-card-content> -->

            <!-- New Password -->
            <mat-card-content class="card-content row">
              <h4 class="col-3 ">New Password</h4>
              <mat-form-field class="col-9">
                <input matInput value="" [(ngModel)]= "newPassword">
              </mat-form-field>
            </mat-card-content>

            <!-- Card Actions -->
            <mat-card-actions class="d-flex flex-row-reverse">
              <button mat-button>Cancel</button>
              <button mat-button (click)="save()">Kaydet</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
  </div>
