<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Users</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add People</button>
  <button mat-raised-button color="warn" (click)="openManageRoles()">Manage Roles</button>
</mat-toolbar>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="name,role,e-mail" matInput [formControl]="emailFormControl"
      placeholder="Search for name, role or e-mail address">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Roles</mat-label>
    <mat-select [formControl]="roleFormControl" placeholder="Select Role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<table class="example-table">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>
    <th>Roles</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
    <td><button mat-icon-button class="delete-button" aria-label="Delete" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button></td>
  </tr>
 
</table>


