.example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    background-color: #2196f3; 
    color: white; 
  }
  
  
  .example-icon
  button {
    color: white; 
    margin: 0 8px;
  }
  
  
  span {
    font-size: 20px; 
  }
  
  
  .project-heading {
    text-align: center;
    margin-top: 24px;
    font-size: 32px;
  }
  
  
  .example-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 32px 24px; 
    max-width: 600px; 
  }
  
  
  mat-form-field {
    width: 100%;
  }

// .container{
//     padding-left: 40px;
//     padding-top: 10px;
    
//     .navbar {

//         h1 {
//             font-size: 36px;
//         }

//         .add_user {
//             display: flex;
//             gap: 10px;
//         }
//     }
// }

// .topbar {
//     margin-top: 30px;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 10px;
//     label {
//         font-size: 18px;
//         font-weight: 600;
//     }
// }

// .dialog {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .users_table {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 10px;

//     // overflow: hidden;
// }

// .card {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     padding: 10px;
//     position: relative;
//     .one_by_one  {
//         width: 27%;
//     }

//     .one_by_one:last-child {
//         text-align: end;
//     }

//     .second_one {
//         position: absolute;
//         left: 405px;
//     }

//     .third_one {
//         position: absolute;
//         left: 780px;
//     }
    
  
  
  input {
    width: 100%;
  }
  
  mat-select {
    width: 100%;
  }
  
  .mat-select-arrow {
    color: white; 
  }
  
  
  .mat-select-panel {
    background-color: #f5f5f5; 
  }
  .example-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px; 
  }
  
  .example-table th, .example-table td {
    padding: 8px;
    border: 1px solid #ddd; 
    text-align: center;
  }
  
  .example-table th {
    background-color: #f2f2f2; 
    color: #333; 
  }
  
  .example-table tr:nth-child(even) {
    background-color: #f2f2f2; 
  }


mat-toolbar {
  background-color: #2196f3; 
  color: white; 
}


.example-icon,
button {
  color: white; 
  margin: 0 8px;
}


span {
  font-size: 20px; 
}


.project-heading {
  text-align: center;
  margin-top: 24px;
  font-size: 32px;
}


.example-form {
  display: flex;
  margin-right: 35px;
  margin-top: 50px;
}

mat-form-field {
  width: 100%;
}


input {
  width: 100%;
}

mat-select {
  width: 100%;
}

.mat-select-arrow {
  color: white; 
}


.mat-select-panel {
  background-color: #f5f5f5; 
}
.example-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px; 
}

.example-table th, .example-table td {
  padding: 8px;
  border: 1px solid #ddd; 
  text-align: center;
}

.example-table th {
  background-color: #f2f2f2; 
  color: #333; 
}

.example-table tr:nth-child(even) {
  background-color: #f2f2f2; 
}
.delete-button {
  color: #000000; 
  margin: 0 8px;
}

