.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #2196f3;
  color: white;
}


.example-icon button {
  color: white;
  margin: 0 8px;
}


span {
  font-size: 20px;
}


.project-heading {
  text-align: center;
  margin-top: 24px;
  font-size: 32px;
}


.example-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 32px 24px;
  max-width: 600px;
}


mat-form-field {
  width: 100%;
}

input {
  width: 100%;
}

mat-select {
  width: 100%;
}

.mat-select-arrow {
  color: white;
}


.mat-select-panel {
  background-color: #f5f5f5;
}

.example-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.example-table th,
.example-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.example-table th {
  background-color: #f2f2f2;
  color: #333;
}

.example-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


mat-toolbar {
  background-color: #2196f3;
  color: white;
}


.example-icon,
button {
  color: white;
  margin: 0 8px;
}


span {
  font-size: 20px;
}


.project-heading {
  text-align: center;
  margin-top: 24px;
  font-size: 32px;
}


.example-form {
  display: flex;
  margin-right: 35px;
  margin-top: 50px;
}

mat-form-field {
  width: 100%;
}


input {
  width: 100%;
}

mat-select {
  width: 100%;
}

.mat-select-arrow {
  color: white;
}


.mat-select-panel {
  background-color: #f5f5f5;
}

.example-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.example-table th,
.example-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.example-table th {
  background-color: #f2f2f2;
  color: #333;
}

.example-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #f44336;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.delete-button:hover {
  background-color: #d32f2f;
}

.delete-button:focus {
  outline: none;
}

.delete-button mat-icon {
  margin-right: 8px;
}