<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Access</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add People</button>
  <button mat-raised-button color="warn" (click)="openManageRoles()">Manage Roles</button>
</mat-toolbar>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="name,role,e-mail" matInput [formControl]="emailFormControl" placeholder="Search for name, role or e-mail address">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Roles</mat-label>
    <mat-select [formControl]="roleFormControl" placeholder="Select Role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<table class="example-table">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>
    <th>Roles</th>
  </tr>
  <tr>
    <td>Tuana</td>
    <td>ÜLKER</td>
    <td>tuana@example.com</td>
    <td>Admin</td>
  </tr>
  <tr>
    <td>Cihan</td>
    <td>IŞILDAR</td>
    <td>cihan@example.com</td>
    <td>Admin</td>
  </tr>
  <tr>
    <td>Azra Sima</td>
    <td>GÜMÜŞTEKİN</td>
    <td>azrasima@example.com</td>
    <td>User</td>
  </tr>
</table>
