<h1 mat-dialog-title>Create Task</h1>

<div mat-dialog-content>
  <div class="row">
    <mat-form-field class="col-6">
      <mat-label>{{ "projectName" | transloco }}</mat-label>
      <mat-select [(ngModel)]="task.projectId" (ngModelChange)="onChangeProject($event)" ngDefaultControl>
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{ project.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>{{ "columnName" | transloco }}</mat-label>
      <mat-select [(ngModel)]="task.columnId" ngDefaultControl>
        <mat-option *ngFor="let column of columns" [value]="column.id">
          {{ column.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <mat-form-field>
      <mat-label>{{ "taskName" | transloco }}</mat-label>
      <input matInput type="text" [(ngModel)]="task.name" ngDefaultControl />
    </mat-form-field>
  </div>

  <div class="row">
      <input type="file" #fileInput multiple style="display: none" (change)="upload($event)" />
      <div class="button-container">
        <button mat-button (click)="fileInput.click()"><mat-icon>attach_file</mat-icon>Attach</button>
  </div>
  <br>
      <!-- <div *ngIf="Files.length > 0"> -->
        <p>Selected Files:</p>
        <ul>
          <li *ngFor="let fileData of Files">
            <img [src]="fileData.iconUrl" width="24" height="24" alt="File Icon">
            {{ fileData.file.name }}
          </li>
        </ul>
      </div>

  <div class="row">
    <mat-label>{{ "description" | transloco }}</mat-label>

    <angular-editor [placeholder]="'Enter text here...'" [config]="config"></angular-editor>
  </div>
  <br />

  <!-- <div class="row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea name="textarea" id="default" matInput maxlength="300"></textarea>
        </mat-form-field>
       
    </div> -->

  <div class="row">
    <mat-form-field class="col-6">
      <mat-label>{{ 'assignee' | transloco }}</mat-label>
      <mat-select [(ngModel)]="task.assigneeId" ngDefaultControl>
        <mat-option *ngFor="let user of assignees" [value]="user.id">
          <img src="{{ user.profileImageUrl }}" alt="Profile Image" width="30" height="30">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    


    <mat-form-field class="col-6">
      <mat-label>{{'reporter' | transloco}}</mat-label>
      <mat-select [(ngModel)]="task.reporterId" ngDefaultControl>
        <mat-option *ngFor="let user of reporter" [value]="user.id">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field class="col-6">
      <mat-label>{{ "priority" | transloco }}</mat-label>
      <mat-select [(ngModel)]="selectedIcon" (ngModelChange)="onIconSelectionChange()">
        <mat-option *ngFor="let iconUrl of priorities" [value]="iconUrl">
          <img class="icon-option" [src]="iconUrl" alt="Icon" />
          {{ priorityService.getIconName(iconUrl) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>{{ "dueDate" | transloco }}</mat-label>
      <input [(ngModel)]="task.endDate" matInput [matDatepicker]="pickerEnd" [value]="currentDate.value"
        ngDefaultControl />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="button">
  <button mat-flat-button mat-dialog-close>{{ "cancel" | transloco }}</button>
  <button mat-flat-button color="primary" (click)="addTask()">
    {{ "create" | transloco }}
  </button>
</div>