<h1 mat-dialog-title> Create Task</h1>

<div mat-dialog-content>
    <div class="row">
        <mat-form-field>
            <mat-label>Project Name</mat-label>
            <mat-select>
              <mat-option *ngFor="let project of projects" [value]="project">{{project.name}}</mat-option>  
            </mat-select>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
        <mat-form-field>
            <mat-label>Summary</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="row ">
        <mat-label>Description</mat-label>

       <app-description></app-description>
    </div>

    

    <!-- <div class="row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea name="textarea" id="default" matInput maxlength="300"></textarea>
        </mat-form-field>
       
    </div> -->

    <div class="row">
        <mat-form-field class="col-6">
            <mat-label>Assignee</mat-label>
            <mat-select>
              <!-- <mat-option *ngFor=""></mat-option>   -->
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>Reporter</mat-label>
            <mat-select>
              <!-- <mat-option *ngFor=""></mat-option>   -->
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-12">
            <mat-label>Priority</mat-label>
            <mat-select>
              <!-- <mat-option *ngFor=""></mat-option>   -->
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="col-6">
            <mat-label>Select Labels</mat-label>
            <mat-select>
              <mat-option *ngFor=""></mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>

    <div class="row">
        <mat-form-field class="col-6">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="pickerStart" [value]="currentDate.value">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="pickerEnd" [value]="currentDate.value">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions class="button">
    
<button mat-flat-button mat-dialog-close>Cancel</button>
<button mat-flat-button color="primary" (click)="getAllTasks()">Create</button>
</div>