.wrapper {
    padding: 10px;
    width: 100%;

    overflow: auto;
    .left_side {
        display: flex;
        gap: 10px;
    }

    
}
.columns_container {
        width: 83.5vw;
        height: 89%;
        overflow: auto;
    }