.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 15%;

    .left_side {
        display: flex;
        gap: 10px;
    }
}