
.body {
  width: 100vw;
  height: 100%;
  background: #F2F2F2;

  .container {
    display: flex;
    height: 90vh;
    margin: 0;
    padding: 0;
    margin-right:0 ;
  }

  .container2 {
    width: 100%;
    border-left: 1px solid black;
    margin: 0;
    
  }

  .routers_container {
    width: 84vw;
    height: 89%;
    overflow: auto;
    }
}

@media (max-width: 767px) {
  .container {
    width: 300px;
    flex-direction: column;
    height: auto;
  }

  .container2 {
    border-left: none;
    border-top: 1px solid black;
    padding-top: 10px;
  }

  .routers_container {
    height: 60vh;
  }
}