<div class="container">
  <div class="left_side">
    <img src="../../../../assets/add-person.jpg" />
  </div>
  <div class="right_side">
    <div class="right_side_wrapper">
      <div class="topside">
        <div class="labels">
           <label>Add Cihan</label>
        <label>to a project</label> 
        </div>
        
        <div class="the_person">
          <button mat-button>Cihan</button>
          <button mat-button>User</button>
        </div>
      </div>

      <div class="projects">
        <label>{{'projects' | transloco}}</label>
        <div class="projects_container">
          <mat-radio-button>Project1</mat-radio-button>
          <mat-radio-button>Project2</mat-radio-button>
          <mat-radio-button>Project3</mat-radio-button>
          <mat-radio-button>Project4</mat-radio-button>
        </div>
      </div>
    </div>
  </div>
</div>
