<div class="container">
  <div class="left_side">
    <img src="../../../../assets/add-person.jpg" />
  </div>
  <div class="right_side">
    <p>You can also easily add people to your project</p>
    <div class="right_side_wrapper">
      <div class="topside">
        <div class="labels">
          <label>Add People</label>
          <label>To Your Project</label>
        </div>

        <div class="the_person">
          <label>{{newProjectName}}</label>
        </div>
      </div>

      <!-- <div class="projects">
        <label>{{'Users' | transloco}}</label>
        <div class="projects_container">
          <mat-radio-button>User1</mat-radio-button>
          <mat-radio-button>User2</mat-radio-button>
          <mat-radio-button>User3</mat-radio-button>
          <mat-radio-button>User4</mat-radio-button>
        </div>
      </div> -->
      <div class="projects">
        <label>{{ 'Users' | transloco }}</label>
        <div class="projects_container">
          <mat-checkbox
            *ngFor="let user of users"
            [(ngModel)]="user.selected"
            [value]="user.id"
          >
            {{ user.name }}
          </mat-checkbox>
        </div>
        <button (click)="saveProjectUsers()">Save</button>
        
      </div>
      
    </div>
  </div>
</div>