<div class="container">
  <div class="left_side">
    <img src="../../../../assets/kişiler.png" />
  </div>
  <div class="right_side">
    
    <div class="right_side_wrapper">
      <div class="topside">
        <div class="labels">
          <label><strong>Add People To Your Project</strong></label>

          
          <div class="the_person">
            <label><h4>Proje Name :</h4>{{newProjectName}}</label>
          </div>
        </div>

        <!-- <div class="the_person">
          <label>{{newProjectName}}</label>
        </div> -->
      </div>

      <div class="projects">
        <label>{{ 'Users' | transloco }}</label>
        <div class="projects_container">
          <ng-container *ngFor="let user of users">
            <tr>
              <td>
                <img width="30px" height="30px" [src]="url">
              </td>
              <td>
                <mat-checkbox [(ngModel)]="user.selected" [value]="user.id" (change)="onCheckboxChange(user)">
                  {{ user.name }} 
                </mat-checkbox>
              </td>
            </tr>
          </ng-container>

        </div>
        <button mat-raised-button color="primary" (click)="saveProjectUsers()">Save</button>
        <button mat-button class="red-button" (click)="closeDialog()">Cancel</button>


      </div>

    </div>
  </div>
</div>