.container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
}

.left_side {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.right_side {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2E97F2;
  .right_side_wrapper {
    width: 300px;
    height: 500px;
    border-radius: 8px;
    padding: 20px;
    background-color: #f6f8fa;
    box-shadow: 5px 5px #2E97F2;
    // #012619
    .topside {
      text-align: center;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px;

      .labels {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        font-weight: 600;
        color: #2E97F2;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid #2E97F2;
        box-shadow: 5px 5px #2E97F2;

        label {
          font-size: 28px;
        }
        
      }
      .the_person {
        width: 100%;
        height: fit-content;
        // border: 1px solid #056cf2;
        color: white;
        background-color: #2E97F2;
        border-radius: 8px;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;

        button {
          width: 50%;
          color: white;

          &:hover {
            background-color: #fff;
            color: #2E97F2;
          }
        }
      }
    }


    .projects {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      label {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 28px;
      }

      .projects_container {
        padding: 6px;
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        border: 1px solid #2E97F2;
        box-shadow: 5px 5px #2E97F2;
        border-radius: 8px;
        overflow: auto;

      }
    }
  }
}
:host {
  display: block;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;

  }
  100% {
    transform: translateX(0);
    transition: transform 1s ease-in-out;

  }
}

.container.slide-in {
  animation: slideIn 0.3s ease-in-out;
}