<div class="back_arrow_img" (click)="closeDialog()">
  <img src="assets/back.png" />
  {{ "back" | transloco }}
</div>
<div class="wrapper">
  
  <div class="background">
    <div class="overlay"></div>
  </div>
  <div class="content">
    


    <div class="body" *ngIf="showFirstComponent" [@slideIn]="showFirstComponent">
      <div class="container">
        <h4>{{ "createProject" | transloco }}</h4>
        <p>
          Explore what's possible when you collaborate with your team. Edit
          project details anytime in project settings.
        </p>
        <div class="input_field">
          <label>{{ "name" | transloco }}</label>
          <input matInput (keyup.enter)="createProject()" [(ngModel)]="projectName" />
          <label>{{"description" | transloco}}</label>
          <textarea mat-Input type="textarea" [(ngModel)]="description"> </textarea>
          <label *ngIf="projectNameIsEmpty">Project Name can't be empty</label>
        </div>
        <div class="button_field">
          <button mat-raised-button routerLink="summary" (click)="closeDialog()">
            {{ "cancel" | transloco }}
          </button>
          <button mat-raised-button (click)="createProject()">
            {{ "createProject" | transloco }}
          </button>
        </div>
      </div>

      <!-- <button>{{'next' | transloco}}</button> -->
    </div>
    <app-add-people-to-project *ngIf="showSecondComponent"
      [@slideOut]="showSecondComponent"></app-add-people-to-project>
  </div>
</div>
<script src="https://unpkg.com/notie"></script>