<div class="body">
  <div class="container">
    <h4>Create Project</h4>
    <p>
      Explore what's possible when you collaborate with your team. Edit project
      details anytime in project settings.
    </p>
    <div class="input_field">
      <label>Name</label>
      <input />
    </div>
    <div class="button_field">
       <button mat-raised-button>Cancel</button>
       <button mat-raised-button>Create project</button>
    </div>
  </div>
  <div class="image_container">
    <img src="../../../assets/meeting.jpg" />
  </div>
</div>
