.wrapper {
  display: flex;

}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  // padding: 30px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  gap: 80px;
}

.back_arrow_img {
  margin-top: 10px;

  border-radius: 4px;
  width: 150px;
  height: fit-content;
  padding: 20px;
  cursor: pointer;
   
  &:hover {
    background-color: #f6f8fa;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.container {
  width: 400px;
  height: 250px;
  margin: 0 0 0 0;
  padding: 20px;
  background-color: #f6f8fa;
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 8px;

  h4 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  .input_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .button_field {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }
}

.image_container {
  width: fit-content;
  height: fit-content;
  margin-right: 40px;

  img:first-child {
    width: 600px;
    height: 600px;
  }
}

:host {
  display: block;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(50%);

  }
  100% {
    transform: translateX(100%);
  }
}
.wrapper.slide-out {
  animation: slideOut 0.3s ease-in-out;
}