<div class="wrapper" #wrapper>
  <div class="left_side">
    <div class="navbar">
      <input [(ngModel)]="taskChange.name" spellcheck="false" (blur)="updateTask()"/>
    </div>

    <div class="description">
      <input
        type="file"
        #fileInput
        multiple
        style="display: none"
        (change)="upload($event)"
      />
      <div class="button-container">
        <button mat-button (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>Attach
        </button>
        <button
          class="add-subtopic-button"
          mat-button
          (click)="addSubtopicClicked = true"
        >
          Add Subtopic<mat-icon>add_circle</mat-icon>
        </button>

        <br />
      </div>
      <br />
      <br />

      <div class="top_side">
        <h2>{{ "description" | transloco }}</h2>
        <input placeholder="Add a description..." />
      </div>
      <!-- Add the input box here with *ngIf directive -->
      <div *ngIf="addSubtopicClicked" class="subtopic-input-container">
        <input
          type="text"
          class="subtopic-input"
          placeholder="What should be done ?"
        />
      </div>

      <br />
      <!-- <div class="attachments" *ngIf="fileUploaded">
        <h2>Attachments</h2>
         ngIf uygulanacak-->
        <!-- <ul>
          <li *ngFor="let fileData of Files">
            <img
              [src]="fileData.iconUrl"
              width="24"
              height="24"
              alt="File Icon"
            />
            {{ fileData.file.name }}
          </li>
        </ul>
      </div> --> 

              <div class="attachments">
                <h2>Attachments</h2>
                <ng-container *ngFor="let img of imageUrl" class="d-flex">
                  <tr>
                    <td>
                      <img class ="img" width="30" height="30" [src]="img">
                    </td>
                  </tr>
                </ng-container>
              </div>


    </div>
    <br />
    <br />

    <div class="activityContainer">
      <div class="activity">
        <h2>
          {{ "Activity" | transloco }}
        </h2>
      </div>
      <div class="tabs">
        <div class="left-aligned-buttons">
          <label>
            <h3>Show:</h3>
          </label>
          <div class="button-container">
            <button mat-button>All</button>
            <button mat-button>Comments</button>
          </div>
        </div>
      </div>

      <br />

      <div class="footer">
        <div class="comments">
          <textarea
            (keypress)="checkIfCommentAdded()"
            placeholder="Add a comment..."
            class="small-textarea"
            [(ngModel)]="createComment"
            (keyupEnter)="submitComment()"
          ></textarea>
        </div>
      </div>

      <div class="submitAndCancelButtons">
        <div *ngIf="commentWantsToGetCreated">
          <button
            mat-raised-button
            (click)="submitComment(); getTaskComments()"
          >
            Submit Comment
          </button>
        </div>

        <div *ngIf="commentWantsToGetCreated">
          <button mat-raised-button (click)="closeSubmitAndCancelButtons()">
            Cancel
          </button>
        </div>
      </div>

      <div *ngFor="let comment of comments">
        <div class="comment_section">
          <div class="top_section">
            <div class="user_icon">
              <label>CI</label>
            </div>
            <div class="user_name">
              <label>{{ comment.createdByUser | user : userList }}</label>
            </div>
            <div class="date_time">
              <!-- <label>{{ comment.createdDate | date:'dd.MM.yyyy' }}</label> -->
              <label>{{ comment.createdDate | time }}</label>
            </div>
          </div>

          <div class="main">
            <div class="placeholder"></div>
            <label *ngIf="!commentWantsToBeEdited || comment.id !== commentBeingEditedId">{{ comment.comment }}</label>
            <input *ngIf="commentWantsToBeEdited && comment.id === commentBeingEditedId" [(ngModel)]="comment.comment"/>
          </div>

          <div class="edit_delete_buttons" *ngIf="!commentWantsToBeEdited">
            <div class="placeholder2"></div>
            <button
              mat-button
              (click)="
              closeEditAndDeleteButtons(comment.id, comment.comment);findEditComment(comment.id)">
              Edit
            </button>
            <button mat-button (click)="deleteComment(comment.id)">
              Delete
            </button>
          </div>

          <div class="save_cancel_buttons" *ngIf="commentWantsToBeEdited && comment.id === commentBeingEditedId">
            <div class="placeholder3"></div>
            <div class="placeholder3"></div>

            <button mat-raised-button color="primary" (click)="editComment(comment.id, updatedComment);closeSaveAndCancelButtons()">Save</button>
            <button mat-button (click)="closeSaveAndCancelButtons()">Cancel</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="right_side">
    <div class="container">
      <div class="top_side_details">
        <div class="top_side_buttons">
          <button
            class="delete_button"
            (click)="deleteTask()"
            mat-mini-fab
            color="warn"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
          <div class="close_icon">
            <button (click)="closeDialog()" mat-mini-fab color="none">
              <mat-icon class="icon">close</mat-icon>
            </button>
            <!-- Close icon -->
          </div>
        </div>

        <div class="bottom_side_buttons">
          <h2>Details</h2>
          <div class="task_state_buttons">
             <button
            mat-button
            (click)="todoClick(taskChange.label)"
            [ngClass]="{ gray: taskColor === 0 }"
          >
            Todo
          </button>

          <button
            mat-button
            (click)="onProgressClick(taskChange.label)"
            [ngClass]="{ blue: taskColor === 1 }"
          >
            I'm on it
          </button>

          <button
            mat-button
            (click)="doneClick(taskChange.label)"
            [ngClass]="{ green: taskColor === 2 }"
          >
            Done
          </button>
          </div>
         
        </div>
      </div>

      <div class="body">
        <div class="column">
          <!-- <div class="assignee card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "assignee" | transloco }}</label>
              </div>
              <div class="right_side_card assigned_person"></div>
            </div>
          </div> -->

          <div class="assignee card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "assignee" | transloco }}</label>
              </div>
              <div class="right_side_card assigned_person">
                <div class="container-dropdown">
                  <input
                    style="display: none"
                    id="userDropdownInput"
                    type="checkbox"
                  />
                  <div class="dropdown">
                    <label class="dropbtn" for="userDropdownInput">
                      <div class="user-profile">
                        <div class="user-image">
                          <img
                            [src]="getUserProfileImage(taskChange.assigneeId)"
                            alt="User Profile"
                          />
                        </div>
                        <span class="user-name">{{
                          taskChange.assigneeId | user : userList
                        }}</span>
                      </div>
                    </label>
                    <div class="dropdown-content">
                      <!-- Inside the dropdown-content -->
                      <p
                        *ngFor="let user of users"
                        (click)="selectUserForAssignee(user.id)"
                        for="userDropdownInput"
                      >
                        <label for="userDropdownInput">
                          <div class="user-profile">
                            <div class="user-image">
                              <img
                                [src]="getUserProfileImage(user.id)"
                                alt="User Profile"
                              />
                            </div>
                            <span class="user-name">{{
                              user.id | user : userList
                            }}</span>
                          </div>
                        </label>
                      </p>
                    </div>
                    <label for="userDropdownInput" class="overlay"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="reporter card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "reporter" | transloco }}</label>
              </div>
              <div class="right_side_card reported_person">
                <div class="container-dropdown">
                  <input
                    style="display: none"
                    id="userDropdownInput2"
                    type="checkbox"
                  />
                  <div class="dropdown">
                    <label class="dropbtn" for="userDropdownInput2">
                      <div class="user-profile">
                        <div class="user-image">
                          <img
                            [src]="getUserProfileImage(taskChange.reporterId)"
                            alt="User Profile"
                          />
                        </div>
                        <span class="user-name">{{
                          taskChange.reporterId | user : userList
                        }}</span>
                      </div>
                    </label>
                    <div class="dropdown-content">
                      <p
                        *ngFor="let user of users"
                        (click)="selectUserForReporter(user.id)"
                        for="userDropdownInput2"
                      >
                        <label for="userDropdownInput2">
                          <div class="user-profile">
                            <div class="user-image">
                              <img
                                [src]="getUserProfileImage(user.id)"
                                alt="User Profile"
                              />
                            </div>
                            <span class="user-name">{{
                              user.id | user : userList
                            }}</span>
                          </div>
                        </label>
                      </p>
                    </div>
                    <label for="userDropdownInput2" class="overlay"></label>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <div class="priority card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "priority" | transloco }}</label>
              </div>
              <div class="right_side_card priority-value">
                <div class="container-dropdown">
                  <input
                    style="display: none"
                    id="priorityDropdownInput"
                    type="checkbox"
                  />
                  <div class="dropdown">
                    <button mat-button [matMenuTriggerFor]="menuPriority">
                      <label class="dropbtn" for="priorityDropdownInput">
                        <img
                          class="priority-icon"
                          [src]="sortableElement"
                          alt="Icon"
                        />
                        &nbsp;{{ priorityService.getIconName(sortableElement) }}
                      </label>
                    </button>
                    <mat-menu #menuPriority="matMenu">
                      <button
                        mat-menu-item
                        *ngFor="let priority of priorities"
                        (click)="setSortableElement(priority)"
                      >
                        <img
                          class="priority-icon"
                          [src]="priority"
                          alt="Icon"
                        />
                        {{ priorityService.getIconName(priority) }}
                      </button>
                    </mat-menu>

                    <!-- <div class="dropdown-content">
                      <p *ngFor="let priority of priorities" (click)="setSortableElement(priority)"
                        for="priorityDropdownInput">
                        <img class="priority-icon" [src]="priority" alt="Icon" />
                        {{ priorityService.getIconName(priority) }}
                      </p>
                    </div> -->

                    <!-- <label for="priorityDropdownInput" class="overlay"></label> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Reporting -->
          <div class="priority card1">
            <div class="inside_card">
              <div class="label_container">
                <label>Reporting</label>
              </div>
              <div class="right_side_card priority-value">
                {{ tokenService.tokenFullName() }}
              </div>
            </div>
          </div>
          <div class="started_date card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "startedDate" | transloco }}</label>
              </div>
              <div class="right_side_card dateTime">
                <mat-form-field *ngIf="isInputDisabled">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Choose a date"
                    [formControl]="taskC"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <label>{{ taskC.value | date }}</label>
              </div>
            </div>
          </div>

          <div class="due_date card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "dueDate" | transloco }}</label>
              </div>
              <div class="right_side_card dateTime">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker1"
                    placeholder="Choose a date"
                    [formControl]="taskDueDate"
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="updated_date card1">
            <div class="inside_card">
              <div class="label_container">
                <label>{{ "updatedDate" | transloco }}</label>
              </div>
              <div class="right_side_card dateTime">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker2"
                    placeholder="Choose a date"
                    [formControl]="taskUpdatedDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
