.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  background-color: white; // Bu satırı ekleyin.
  > *:last-child {
    margin-bottom: 0; // Son çocuk elemanın alt marjını sıfırla
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 600 !important;
}

.left_side {
  width: 70%;
  padding: 10px;
  overflow: auto;
  
  input {
    padding: 7px;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    &:hover {
      background-color: #f3f3f3;
      cursor: context-menu;
    }

    &:focus {
      cursor: auto;
      border: 1px solid #5CACF2;
    }
  }
}

.navbar {
  height: 10%;
  width: 100%;
}

.description {
  height: fit-content;
  .top_side {

    input {
      margin-top: 7px;
      font-size: 16px;
    }
  }
  .button-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    button {
      font-weight: 600;
      background-color: #091e420a;
    }
  }
  .subtopic-input-container {
    input {
      font-size: 16px;
    }
  }
  .attachments {
    height: auto;
    max-height: 100px;

    ul {
      max-height: 100px;
      overflow: auto;
    }
  }
}

.activityContainer {
  height: auto;

  .activity {
    margin-bottom: 7px;
  }
  .tabs {
    .left-aligned-buttons {
      display: flex;
      gap: 10px;

      .button-container {
        display: flex;
        gap: 10px;
        button {
          font-weight: 600;
          background-color: #091e420a;
        }
      }
    }
  }
}

.footer {
  .comments {
    textarea {
      padding: 7px;
      width: 100%;
      font-weight: 600;
      color: #5e6c84;
      border: 1px solid #dfe1e6;
    }
  }
}

.submitAndCancelButtons {
  display: flex;
  gap: 10px;
}

.comment_section {
  width: 100%;
  padding: 7px;
  margin-top: 10px;

  .top_section {
    display: flex;
    gap: 20px;

    .user_icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #5CACF2;
      font-size: 18px;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .user_name {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }

    .date_time {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;

    }
  }

  .main {
    width: 100%;
    margin-top: 10px;
    .placeholder {
      width: 60px;
      background-color: transparent;
    }

    input {
      font-size: 16px;
      padding: 6px !important;
      border: 1px solid black !important;
    }

    .inputPart {
      display: flex;
    }
  }

  .edit_delete_buttons {
    display: flex;
    margin-top: 10px;
    .placeholder2 {
      background-color: transparent;
      width: 40px;
    }
  }
}

.right_side {
  width: 30%;

  .close_icon {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    mat-icon {
      cursor: pointer;
    }
  }
  .container {
    padding: 0;
    height: 90%;
    border-left: 1px solid #dfe1e6;

    .top_side_details {
      padding: 20px;
      border-bottom: 1px solid #dfe1e6;

      h2 {
        font-weight: 700;
        font-size: 28px;
      }
    }
  }

  .body {
    .column {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;

      .card1 {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;

        .inside_card {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .label_container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            text-align: center;
            label {
              width: fit-content;
              height: fit-content;
              font-weight: 600;
            }
          }

          .right_side_card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
          }
          .dateTime {
            margin-top: 10px;
          }
        }
      }
    }
  }
}


.priority-icon {
  width: 25px;
  height: 25px;
}


label.dropbtn {
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content p {
  padding: 8px;
  margin: 0;
  cursor: pointer;
  text-indent: 20px;
  display: flex; 
  align-items: center; 
}

.dropdown-content p:hover {
  background-color: lightgrey;
}
.dropdown-content {
  display: none;
}
.dropdown-content label {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
input:checked ~ .dropdown .dropdown-content {
  position: absolute;
  display: block;
  min-width: 160px;
  top: 30px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 200;
}
input:checked ~ .dropdown .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 190;
}

/* Update the user-profile and user-image styles */
.user-profile {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  overflow: hidden; 
  // margin-right: 8px; 
}

.user-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.user-name {
  font-size: 14px; 
}


