<div class="wrapper" #wrapper>
  <div class="left_side">

    <div class="navbar" (click)="onTaskNameClick()">
      <h3 class="project-heading"><mat-icon class="icon">check_circle</mat-icon>Proje Name :{{ projectService.getProjectLocal().name
        }}</h3>
      <ng-container *ngIf="!editingTaskName">
        <label>{{ task.name }}</label>
      </ng-container>
      <input type="text" class="inputName" [(ngModel)]="task.name" (blur)="onTaskNameBlur()">

    </div>

    <div class="description">
      <div class="top_side">
        <h2><label>{{ 'description' | transloco }}</label></h2>
      </div>
<br>
      <input type="file" #fileInput multiple style="display: none;" (change)="upload($event)" />
      <div class="button-container">
        <button mat-button (click)="fileInput.click()"><mat-icon>attach_file</mat-icon>Attach</button>
        <button class="add-subtopic-button" mat-button (click)="addSubtopicClicked = true">Add
          Subtopic<mat-icon>add_circle</mat-icon></button>
      </div>

      <!-- Add the input box here with *ngIf directive -->
      <div *ngIf="addSubtopicClicked" class="subtopic-input-container">
        <input type="text" class="subtopic-input" placeholder="What should be done ?">
      </div>


      <!-- Rest of the code... -->
      <br>
      <div>
        <p>Selected Files:</p>
        <ul>
          <li *ngFor="let fileData of Files">
            <img [src]="fileData.iconUrl" width="24" height="24" alt="File Icon">
            {{ fileData.file.name }}
          </li>
        </ul>
      </div>
      <!-- <textarea [(ngModel)]="descriptionText"></textarea> -->
      <button mat-button>{{'save' | transloco}}</button>
    </div>
    <div class="tab_bar">
      <div class="top_side">
      <h2><label>{{ 'Activity' | transloco }}</label></h2>
      </div>
      <br>
      <div class="tabs">
        <div class="left-aligned-buttons">
          <label>
            <h3>Show:</h3>
          </label>
          <div class="button-container">
            <button mat-button>All</button>
            <button mat-button>Comments</button>
          </div>
        </div>
      </div>
      
      <br>

      <div class="footer">
        <div class="comments">
          <mat-icon class="icon">badge</mat-icon>
          <textarea placeholder="Add a comment..." class="small-textarea"></textarea>
        </div>

      </div>
      <br>
      <div class="savebuton"><button mat-button>{{'save' | transloco}}</button></div>

    </div>



  </div>

  <div class="right_side">
    <div class="icons">

      
      <mat-icon class="icon" (click)="onCloseDetails()">close</mat-icon> <!-- Close icon -->
    </div>
    <div class="container">
      <div class="top_side">
        <h2>
          <label>Details</label>
        </h2>
      </div>
    
      <div class="body">
        <div class="row justify-content-between"> <!-- "justify-content-between" ile kartları yatayda hizalar -->
          <!-- Assignee -->
          <div class="assignee card col-6"> <!-- "col-5" ile kartların yatayda 5/12 genişlikte olmasını sağlar -->
            <mat-icon class="icon">person</mat-icon>
            <div>
              <label>{{'assignee' | transloco}}</label>
              <div class="assigned_person">
                <!--dropdown button ile atanan kişiyi göreceğiz-->
              </div>
            </div>
          </div>
    
          <!-- Reporter -->
          <div class="reporter card col-5"> <!-- "col-5" ile kartların yatayda 5/12 genişlikte olmasını sağlar -->
            <mat-icon class="icon">report</mat-icon>
            <div>
              <label>{{'reporter' | transloco}}</label>
              <div class="reported_person">
                <!--dropdown button ile reporter kişiyi göreceğiz-->
              </div>
            </div>
          </div>
        </div>
    
        <div class="row justify-content-between"> <!-- "justify-content-between" ile kartları yatayda hizalar -->
          <!-- Priority -->
          <div class="priority card col-6"> <!-- "col-5" ile kartların yatayda 5/12 genişlikte olmasını sağlar -->
            <mat-icon class="icon">priority_high</mat-icon>
            <div>
              <label>{{'priority' | transloco}}</label>
              <div class="priority-value">
                {{ task.priority }}
              </div>
            </div>
          </div>
    
          <!-- Reporting -->
          <div class="priority card col-5"> <!-- "col-5" ile kartların yatayda 5/12 genişlikte olmasını sağlar -->
            <mat-icon class="icon">person</mat-icon>
            <div>
              <label>Reporting</label>
              <div class="priority-value">
                {{ tokenService.tokenFullName() }}
              </div>
            </div>
          </div>
        </div>
    <br>
        <!-- Due Date -->
        <div class="due_date card col-12">
          <div>
            <label>{{'dueDate' | transloco}}</label>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="taskDueDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>