<div class="wrapper">
  <div class="left_side">
    <div class="navbar">
      <label></label>
      <button mat-button><mat-icon> attach_file</mat-icon>Attach</button>
    </div>

    <div class="description">
      <label>Description</label>
      <textarea></textarea>
      <button mat-raised-button>Save</button>
    </div>

    <div class="tab_bar">
      <label>Activity</label>
      <div class="tabs">
        <label>Show:</label>
        <button mat-button>All</button>
        <button mat-button>Comments</button>
      </div>

      <div class="footer">
        <div class="comments">
          <div class="image_holder">
            <img src="../../../assets/kullanıcı.png" />
          </div>
          <textarea placeholder="Add a comment..."></textarea>
        </div>
        <button mat-button>Send</button>
      </div>
    </div>
  </div>
  <div class="right_side">
    <div class="container">
        <div class="top_side">
            <label>Details</label>
        </div>
        <div class="assignee">
            <label>Assignee</label>
            <div class="assigned_person">
                <!--dropdown button ile atanan kişiyi göreceğiz-->
                <!--Ayrıca class isimlerini de düzenle-->
            </div>
        </div>
        <div class="reporter">
            <label>Reporter</label>
            <div class="reported_person">
                <!--dropdown button ile reporter kişiyi göreceğiz-->
            </div>
        </div>
        <div class="priority">
            <label>Priority</label>
            <div class="priority">
                <!--dropdown button ile priority yi göreceğiz-->
            </div>
        </div>
        <div class="due_date">
            <label>Due Date</label>
            <div class="due_date">
                <!--dropdown button ile due date i göreceğiz-->
            </div>
        </div>
        <div class="time_tracking">
            <label>Time Tracking</label>
            <div class="time_tracking">
                <!--dropdown button ile atanan kişiyi göreceğiz-->
            </div>
        </div>
        <div class="start_date">
            <label>Start Date</label>
            <div class="start_date">
                <!--dropdown button ile start date i göreceğiz-->
            </div>
        </div>
    </div>
  </div>
</div>
