<div class="calendar">
    <div class="row">
        <div [class.col-9]="isDialogOpen" [class.col-12]="!isDialogOpen" class="calendar-wrapper">
            <div class="calendar-header">
                <div class="user-info">
                    <span class="user-name"> {{tokenService.tokenNameSurname()}}</span>
                </div>
                <div class="search-bar">
                    <input type="text" [(ngModel)]="searchDate" (change)="searchDay()"
                        placeholder="{{ 'searchPlaceholder' | transloco }}">
                    <button (click)="searchDay()" class="search-button">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <div class="user-info">
                    <button (click)="openDialog()" class="add-person-button" [disabled]="!tokenService.hasRole('Admin') || !tokenService.hasRole('SuperAdmin')">
                        <i class="material-icons">person_add</i>{{"add person" | transloco}}
                    </button>
                </div>
                <div class="center-content">
                    <button (click)="prevMonth()">
                        <i class="material-icons icon-left">keyboard_arrow_left</i>{{"last month" | transloco}}
                    </button>
                    <div class="current-date">{{ 'months.' + months[currentMonth] | transloco }} {{ currentYear }}</div>
                    <button (click)="nextMonth()">
                        <i class="material-icons icon-right">keyboard_arrow_right</i>{{"Next month" | transloco}}
                    </button>
                </div>
                <div class="right-controls">
                    <button (click)="goToToday()" data-toggle="tooltip" data-placement="bottom"
                        title="{{ today | date:'dd.MM.yyyy' }}" class="btn custom-tooltip">
                        <i class="material-icons">today</i>{{"today" | transloco}}
                    </button>
                    
                    <button (click)="openPlanDialog()">
                        <i class="material-icons">event</i>{{"unplanned" | transloco}}
                    </button>
                </div>
            </div>
            <div class="weekdays">
                <div *ngFor="let day of weekdays">{{ day | transloco }}</div>
            </div>
            <div class="calendar-days">
                <div *ngFor="let dayObj of days" [class.is-today]="isToday(dayObj.day)"
                    [class.is-searched]="dayObj.isSearchedDayValid" (click)="!dayObj.placeholder && toggleDescription(dayObj)">

                    <!-- Eğer placeholder bir gün değilse gün bilgisini ve görevleri göster -->
                    <ng-container *ngIf="!dayObj.placeholder">

                        <!-- "Bugün" yazısını en üste taşıdık ve sadece bugün için gösteriyoruz -->
                        <span *ngIf="isToday(dayObj.day)"
                        [style.font-weight]="getTodayText(dayObj) ? 'bold' : 'normal'">{{ getTodayText(dayObj) | transloco }}</span>


                        <!-- Eğer bugün değilse tarih bilgisini gösteriyoruz -->
                        <span *ngIf="!dayObj.isToday">{{ dayObj.day }}</span>

                        <h3 class="project-heading" *ngIf="dayObj.projectNames && dayObj.projectNames.length > 0">
                            <mat-icon class="icon">check_circle</mat-icon>

                            <button mat-button *ngIf="dayObj.taskId" (click)="openTaskDialog(dayObj.taskId!)"
                            class="task-name-button">
                            {{ 'taskNameButton' | transloco }} <span class="bold-text">{{ dayObj.projectNames[0] }}</span>
                    </button>
                            <mat-icon *ngIf="dayObj.projectNames && dayObj.projectNames.length > 1"
                                class="icon-more-tasks-icon" (click)="toggleFilter('DueDate', dayObj.day)">
                                more_horiz
                            </mat-icon>
                        </h3>

                    </ng-container>

                </div>
            </div>

        </div>
        <div [class]="isDialogOpen ? 'col-3' : 'd-none'" class="plan-dialog-wrapper">
            <app-plan-dialog (closeEvent)="closePlanDialog()"></app-plan-dialog>
        </div>
    </div>

</div>