.more-tasks-icon {
    cursor: pointer;
}

.task-name-button {
    background-color: rgba(173, 216, 230, 0.158);
    /* İçini gri yapar */
    border: 2px solid rgba(173, 216, 230, 0.434);
    /* Köşeleri mavi yapar */
    padding: 5px 15px;
    font-size: 9px;
    /* Diğer stil özellikleri... */
}

.priority-images {
  display: flex;
  align-items: center;
  left: 10px;
  
  .img_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; //fit-content yapılabilir.
    img {
      width: 30px;
      height: 30px;
      // margin-right: 10px;
      transition: transform 0.2s;
      object-fit: cover;
    }
  }
}
h3.project-heading {
    margin: 0;
    /* Diğer stil özellikleri */
}

.icon {
    font-size: 20px;
    color: lightblue;
}

.bold-text {
    font-weight: bold;
}


.all-tasks-popup {


    max-width: 400px;
    background: #d0aaaa;
}

.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d3d3;
    width: 1300px;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    /* Beyaz arka plan rengi */
    border: 1px solid #dddddd;
    /* İsteğe bağlı: Takvimi çevreleyen ince bir sınır ekleyin */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* İsteğe bağlı: Takvime hafif bir gölge ekleyin */
    border-left: 1px solid #f7f3f3;
    border-top: 1px solid #cccccc;
}

.calendar-header {
    display: flex;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* Sağdaki ve soldaki öğeler arasında maksimum boşluk bırak */
    align-items: center;

}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative; // Bu satırı ekleyin
    text-align: center;
    padding: 5px
}

.calendar-days div {
    text-align: center;
    padding: 5px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f5f5f5;
}

.weekdays div {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

button {
    padding: 5px 8px;
    font-size: 0.8em;
    /* Düğme yazı boyutunu azalt */
    background-color: #e4c7e6;
    /* Beyaz arka plan rengi */
}

.calendar-days div,
.weekdays div {
    height: 100px;
    /* Bu değeri istediğiniz yüksekliğe ayarlayabilirsiniz */
    line-height: 60px;
    /* İçerik yatayda ortalanmış olacaktır */
}

:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Bu satırı değiştirdik. */
    height: 100vh;
    /* Ekranın tam yüksekliği */
    padding-top: 5px;
    /* İstediğiniz bir değere göre ayarlayın. */
}

.weekdays div {
    height: 30px;
    /* Örnek olarak bu değeri daha küçük bir değere ayarladım. */
    line-height: 30px;
    /* İçerik yatayda ortalanmış olacaktır */

}

/* Haftanın günlerini (Pzr, Pzt, vs.) ve günleri (1, 2, 3, vs.) çevreleyen çizgiler */
.weekdays div,
.calendar-days div {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

/* Her satırın sonundaki gün için sağdaki çizgiyi kaldıralım, böylece çift çizgi oluşmasın */
.calendar-days div:nth-child(7n) {
    border-right: none;
}

/* Haftanın günlerinin altında çift çizgi oluşmasın diye bir düzenleme */
.weekdays div {
    border-bottom: none;
}


.calendar-header button {
    margin: 0 10px;
    /* İki düğme arasında biraz boşluk bırakmak için. */
    border-radius: 5px;
    /* Köşeleri yuvarlar */
    border: 1px solid #cccccc;
}

.calendar-header>button {
    border-radius: 5px;
    /* Köşeleri yuvarlar */
    border: 1px solid #cccccc;
    /* İnceltilmiş kenar çizgisi */
    padding: 5px 10px;
    /* Butona iç boşluk ekler */
}

.calendar-header>button:hover {
    background-color: #f5f5f5;
    /* Butonun üzerine gelindiğinde hafif bir renk değişikliği */
}


.center-content {
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-grow: 1;
    /* Mümkün olduğunda maksimum genişliği kullan */

    justify-content: flex-start;
    /* Change this line to align items to the left */


}



/* ... diğer stil tanımlamaları ... */

.spacer {
    flex-grow: 1;
}


.right-controls {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Bu, .right-controls bölümünü sağa taşır */
}

.right-controls button {
    margin-left: 3px;
    /* Sağdaki butonlar arasında boşluk oluştur */
}

.calendar-header button {
    display: flex;
    align-items: center;
}

.calendar-header button i {
    font-size: 18px;
    /* Ikon boyutunu ayarlar */
    margin-right: 5px;
    /* Ikon ile metin arasında bir boşluk bırakır */
    color: #ffffff;
    /* Ikon rengini beyaz yapar */
}

.calendar-header button .icon-left {
    display: flex;
    flex-direction: row-reverse;
    /* Ikonu metnin sağında hizalar */
    align-items: center;
}

.calendar-header button .icon-right {
    display: flex;
    align-items: center;
}


.calendar-header button .icon-right i {
    margin-right: 0;
    margin-left: 5px;
    /* Ikon ile metin arasında boşluk bırakır */
}

.calendar-days div.is-today {
    background-color: #71ad83;
    color: #ffffff;
}

/* Tooltip özelleştirmesi */
.custom-tooltip+.tooltip .tooltip-inner {
    color: #fff;

}

/* ... Other styles ... */

.calendar-header button i.material-icons {
    font-size: 15px;
    /* Ikon boyutunu ayarlar */
    margin-right: 5px;
    /* Ikon ile metin arasında bir boşluk bırakır */
    color: #212222;
}




.calendar-days div {
    position: relative;
    text-align: center;
    padding: 5px;
    overflow: visible; // Bu satırı ekleyin
    // Diğer stiller...
    color: rgb(2, 2, 2);
    /* Varsayılan olarak gri renk */
}



.search-bar {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.search-bar input {
    padding: 5px;
    font-size: 14px;
    margin-right: -9px;
}

.search-button {
    background-color: #e4c7e6;
    border: none;
    margin-left: 1px;
}

.search-button i {
    font-size: 18px;
    color: #ffffff;
}



/* ... (Existing styles) ... */
.calendar-days div.is-current-month {
    font-weight: bold;
    color: black;
    /* Ayın kendi günleri siyah renk ve kalın yazı tipi */
}

/* ... (Existing styles) ... */

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    font-size: 14px;
    /* Yazı boyutunu istediğiniz gibi ayarlayabilirsiniz */
    border-radius: 20px;
    /* Yuvarlak köşeler için 20px border-radius değeri */
    padding: 20px 20px;
    /* İçeriğin içinde biraz boşluk bırakmak için padding ekleyebilirsiniz */
    background-color: #89518d;
    /* Arkaplan rengini belirleyebilirsiniz */
    color: #ffffff;
    /* Yazı rengini beyaz yaparak metnin daha iyi görünmesini sağlayabilirsiniz */
    cursor: default;
    /* Kullanıcı adının üzerine tıklanamaz hale gelmesini sağlar */
    margin-right: 15px;
}
.placeholder {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        #d3d3d32f 5px,
        #d3d3d35d 10px
    );
    pointer-events: none; 
    cursor: default; 
}


/* ... (Existing styles) ... */

.calendar-days div.is-today {
    background-color: #71ad83e2;
    /* Bugünün arka plan rengi */
    color: #ffffff;
    /* Bugünün yazı rengi (beyaz) */
}



/* ... (Existing styles) ... */

.calendar-days .is-searched {
    background-color: #ffcc80;
    /* Change the background color as per your preference */
}

.project-heading,
.icon-more-tasks-icon {

    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: -4px;
    /* Task adı ile üç nokta arasına boşluk bırak */
}

.icon-more-tasks-icon {
    cursor: pointer;
    background: #939fb12d;
    font-size: 22px;
    color: rgba(107, 22, 30, 0.326);
    border-radius: 50%;
    /* Yuvarlak kenarlar */
    width: 30px;
    /* İsteğe bağlı olarak genişliği ayarlayabilirsiniz */
    height: 22px;
    /* İsteğe bağlı olarak yüksekliği ayarlayabilirsiniz */
    display: flex;
    align-items: center;
    justify-content: center;
}