<div class="container">
  <div class="top_bar">
    <label>{{ "projects" | transloco }}</label>
    <div class="icon_holder" *ngIf="tokenService.hasRole('Admin')">
      <button (click)="openDialog()" mat-mini-fab color="basic">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="projects.length > 0; else empty">
    <div
      class="project_names"
      *ngFor="let project of projects"
      (click)="selectProject(project)"
      [class.selected-project]="project.name === theProject"
    >
      <div class="card" [class.selected-project2]="project.name === theProject">
        <img src="../../../assets/hosgeldiniz.png"/>
        {{ project.name }}
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="empty">
      {{ "emptyMessage" | transloco }}
    </div>
  </ng-template>

  <div class="footer">
    <label>You're in a team-managed project</label>
  </div>
</div>
