.container {
  width: 15vw;
  height: 98%;
  overflow: auto;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 30px;

  label {
    font-size: 26px;
  }

  .icon_holder {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    &:hover {
      background-color: #f6f8fa;
    }
  }
}

.project_names {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      // border: 1px solid gray;
      // color: white;
      background-color: #D8D9D7;
    }
  }
}

/* For screens up to 767px wide */
@media (max-width: 1010px) {
  .container {
    width: 100vw; /* Make the container full width */
    height: auto; /* Allow content to determine height */
    overflow: visible; /* Disable horizontal overflow */
  }

  .top_bar {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items horizontally */
    margin-top: 15px; /* Adjust top margin for spacing */
    
    .icon_holder {
      margin-right: 0; /* Remove right margin for better spacing */
      margin-top: 5px; /* Adjust top margin for spacing */
    }
  }

  .project_names {
    width: 100%; /* Make the width full for smaller screens */
    padding: 0 10px; /* Adjust padding for better spacing */
  }

  .card {
    width: 100%; /* Make the cards full width */
    margin-top: 5px; /* Adjust top margin for spacing */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
