<div class="container">
  <div class="top_bar">
    <label>{{'projects' | transloco}}</label>
    <div class="icon_holder" *ngIf="tokenService.hasRole('Admin')">
      <button (click)="openDialog()" mat-mini-fab color="basic">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="projects.length > 0; else empty">
    <div class="project_names" *ngFor="let project of projects" (click)="selectProject(project)">
      <div class="card" (click)="reload()">
        {{ project.name }}
        {{ project.id }}
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="empty">
     {{'emptyMessage' | transloco}}
    </div>
  </ng-template>
</div>
