<div class="tabs_container" [ngClass]="isGreen ? 'green' : isDarkBlue ? 'darkBlue' : isPurple ? 'purple' : isBrown ? 'brown' : isBlue ? 'blue' : ''">
  <div class="tabs_container_project-name-part">
    <img [src]="projectImageUrl" />
    <h5>{{ currentProjectName }}</h5>
    <!-- <div class="bucket_button" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu" yPosition="below">
        <div class="customize">
          <p>Set background color</p>
          <div class="color_holder">
            <div class="green color_holder_items" (click)="colorGreen()"></div>
            <div class="darkBlue color_holder_items" (click)="colorDarkBlue()"></div>
            <div class="purple color_holder_items" (click)="colorPurple()"></div>
            <div class="brown color_holder_items" (click)="colorBrown()"></div>
            <div class="blue color_holder_items" (click)="colorBlue()"></div>
          </div>
        </div>
      </mat-menu>
    </div> -->
  </div>
  <app-tabs-name-part></app-tabs-name-part>
</div>
