.container {
    padding-left: 40px;
}

.mat-elevation-z8 {
    padding: 50px;
}

h1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.filter {
    display: flex;
    padding-left: 10px;
    padding-right: 20px;

}

.topbar {
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    button {
        position: absolute;
        right: 0;
        bottom: 20px;
        margin-right: 10px;
        
    }
}

.btn {
    background-color: #3f51b5;
    color: white;
    
}