
 <div class="container">
  <div class="navbar">
    <h1>Users</h1>
    <div class="add_user"></div>
  </div>

  <div class="main">
    <div class="topbar">
      <label>Username</label>
      <label>Name</label>
      <label>Surname</label>
      <label>Email</label>
    </div>
    <div class="users_table">
      <div class="card" *ngFor="let user of users">
        <div class="one_by_one">
          <label>{{ user.username }}</label>
        </div>
        <div class="one_by_one second_one">
          <label>{{ user.name }}</label>
        </div>
        <div class="one_by_one third_one">
          <label>{{ user.surname }}</label>
        </div>
        <div class="one_by_one">
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
