.task-list {
    list-style-type: none; /* Madde işaretini kaldırır */
    padding: 0;
    text-align: center;
  }
  
.plan-dialog .col-9 {
    width: calc(100% - 30px);
    transition: width 0.3s ease-in-out;
}
h3 {
    text-align: center;
}

.dialog-content ul li {
    position: relative;
    list-style-type: none;
}

.dialog-content ul li:before {
    content: "";
    position: absolute;
    left: -20px;  // Adjust based on your design
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: #23171788;  // Change this to your desired color
}


.plan-dialog .col-3 {
    width: 30px;
    transition: width 0.3s ease-in-out;
}
.dialog-content ul li {
    margin-bottom: 15px;  // Adjust the value based on your desired spacing
}
.task-name-button{
    background: linear-gradient(135deg, #6ea3d825, #556ab558);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: #333;
}
.task-name-button h2 {
    font-size: 16px;  // Adjust this value to your desired size
    margin: 0;  // This ensures there are no default margins

}

.app-plan-dialog {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.col-3:not(.show) .app-plan-dialog {
    display: none;
}
.dialog-content {
    max-height: 540px;  /* Örnek olarak 300px verilmiştir. İhtiyacınıza göre bu değeri değiştirebilirsiniz. */
    overflow-y: auto;  /* Yatayda kaydırma çubuğu otomatik olarak görünecek */
    background: #cbc5cb10;
}

.close-icon {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 20%;
    font-weight: bold;
    background: #d7101020;
}

.dialog-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #6ea3d825, #f372b058);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: #333;
    border: 2px solid rgba(7, 7, 38, 0.208); /* Örnek olarak kenar çizgisini mavi yapalım */
    padding: 20px; /* İsteğe bağlı olarak içeriği biraz kenarlardan uzaklaştırabilirsiniz */
    border-radius: 10px; /* Kenarların yuvarlatılması */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Hafif bir gölge efekti eklenebilir */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
