<div class="tabs_container_tabs_name_part">
  <div class="tabs_container_tabs_name_part_holder">
    <button mat-button routerLink="summary">Summary</button>
    <button mat-button routerLink="board" (click)="GetProjectColumns()">Board</button>
    <button mat-button>List</button>
    <button mat-button (click)="toCalendar()">Calendar</button>
    <button mat-button>Timeline</button>
    <button mat-button>Forms</button>
    <button mat-button>Issues</button>
    <button mat-button>Reports</button>
    <button mat-button routerLink="project-settings">Project settings</button>
  </div>
</div>
