.tabs_container_tabs_name_part {
  height: 100%;
  display: flex;
  align-items: end;
  background: transparent;

}

.tabs_container_tabs_name_part_holder {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 8px;
  border-bottom: 2px solid rgba(9, 30, 66, 0.08);

  button {
    color: #172B4D;
    font-weight: 600;
    margin-left: 10px;
  }
}

.placeholder1 {
  width: 20%;
  height: 100%;
  background: transparent;
  border-bottom: 2px solid rgba(9, 30, 66, 0.08);

}


.setting {
  cursor: pointer;
}

.setting[disabled],
.setting[disabled]:hover {
  cursor: not-allowed;
}

.custom-button {
  display: inline-block;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  background-color: transparent ;
  cursor: pointer;
}

.custom-button.disabled {
  cursor: not-allowed;
}


.tabs_container_tabs_name_part_holder button.active {
  background-color: #2168c6; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
}